html,body{
   margin:0%;
   padding:0%;
   font-family: "Montserrat", sans-serif;
   background-color:#000;
   color:#fff;
   overflow:hidden;
}

.main{
    display:flex;
    width:100%;
    height:100vh;
    padding:.5rem;
}


.side-bar{
    background-color:#000;
    width:340px;
    border-radius:1rem;
    margin-right:.5rem;
}
.nav{
    background-color:#121212;
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:5rem;
    padding:.5rem .75rem;
}
.nav-option{
    line-height:2.5rem;
    padding:8px;
    opacity:.7;
    transition:.4s;
}
.nav-option i{
   font-size:1.25rem;
   
}
.nav-option a{
   font-size:1rem;
   margin-left:1rem;
}
.nav-option:hover{
   color:white;
   opacity:1;
   font-weight:600;
}

a{
    text-decoration:none;
    color:white;
    
}

.Library{
    background-color: #121212;
    border-radius:1rem;
    height:100%;
    margin-top:.5rem;
    padding:.5rem .75rem;
    box-shadow:0px 0px 2px black;
}
.lib-option{
    border-radius:1rem;
    display: flex;
}
.lib-option img{
    height: 1.25rem;
    width:1.25rem;
}
.lib-option a{
    margin-top:-.5rem;
}
 .options{ 
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.icons{
    font-size:1.25rem;
    display:flex;
}
.icons i{
    opacity:.7;
    margin-right:1rem;
}
.icons i:hover{
    opacity:1;
}
.box{
    background-color:#232323;
    height:8rem;
    border-radius:.8rem;
    margin:.75rem 0rem 1.75rem 0rem;
    padding:.5rem 1rem;
}
.box-p1{
    font-size:1rem;
    font-weight:550;
}
.box-p2{
    font-size:.75rem;
    opacity:.9;
}
.main-content{
    background-color:#121212;
    flex:1;
    border-radius:1rem;
    overflow:auto;
    padding:0rem 1.5rem 0rem 1.5rem;
}
.sticky-nav{
    position:sticky;
    background-color:#191919;
    top:0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:1rem 0rem 1rem 0rem;
    z-index:12;
}
.sticky-nav-icons{
    margin-left:.75rem;
}
.sticky-download-options{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-right:1rem;
  margin-bottom:.6rem;
}
.badge{
    background-color: #fff;
    border: none;
    border-radius:100px;
    padding:.25rem 1rem;
    font-weight:700;
    margin-top:.5rem;
    height:2rem;
    font:content;
}
.badge-dark{
    background-color: #000;
    color: white;
}
.download-icon{
    margin-right:.4rem;
}
.nav-item{
    margin-left:1rem;
}
@media (max-width:1000px) {
    .hide{
        display:none;
    }
}
.card{
    background-color:#232323;
    width:150px;
    border-radius:.5rem;
    padding:1rem;
    margin-left:1.5rem;
    margin-top:1rem;
}
.card-title{
    font-weight:700;
}
.card-information{
    opacity:.8;
    font-size:.75rem;
}
.card-image{
    width:100%;
    border-radius:.5rem;
}
.cards-container {
    display:flex;
    flex-wrap: wrap;
}
.card{
     box-shadow:0px 0px 5px black; 
}
.footer{
    height:300px;
    display:flex;
    align-items:center;
    justify-content:center;
}
.line{
    width:90%;
    height:50%;
    border-top:1px solid white;
    opacity:.5;
}

.music-player{
    background-color: rgb(23, 24, 23);
    position:fixed;
    bottom:0px;
    width:100%;
    height:62px;
    display:flex;
}
.album{
    width:25%;
    background-color:black;
    display:flex;
    justify-content:space-around; 
    align-items:center;
    gap:4px;
    flex:wrap;
    padding:3px;

}
.album img{
    border-radius:.3rem;
    height:100%;
    object-fit:cover;
    flex-shrink:0;
}
.album-p1{
    font-size:.9rem;
    font-weight:700;
    flex:1;
    min-width:150px;
}
.album-p2{
    font-size:.7rem;
    opacity:.7;
}
.album-text{
    margin-left:-5px;
}


.player{
    padding:5px;
}
.player-controls{
    display:flex;
    align-items:center;
    justify-content:center;
}

.player-control-icon{
    height:1rem;
    margin-right: 1rem;
    margin-left:1rem;
    opacity:.8;
}
.player-control-icon:hover{
    opacity:1;
}
#icon-3{
    opacity:1;
    height:1.75rem;
}

.player{
    width:50%;
    background-color:black;

} 
.playback-bar{
    display:flex;
    align-items:center;
    justify-content:center;

}
.space{
    margin:.3rem;
}
.progress-bar{
    width:75%;
    appearance:none;
    background-color:transparent;
    cursor:pointer;
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #ddd;
    height:.2rem;
    border-radius:16.4rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance:none;
    height:1rem;
    width:1rem;
    background-color:#1bd760;
    border-radius:50%;
    margin-top:-6px;
}
.control{
    width:25%;
    background-color:black;
    display:flex;
    align-items:center;
    justify-content:center;

    
} 
.control-icon{
    height:1rem;
    margin-right:.6rem;
    margin-left:.2rem;
    opacity:1;
}
.progress-bar1{
    appearance: none;
    width:30%;
    background-color:transparent;
    cursor:pointer;
    
}
.progress-bar1::-webkit-slider-runnable-track{
    background-color: #ddd;
    height:.4rem;
    border-radius:16.4rem;
    
}
.progress-bar1::-webkit-slider-thumb{
    appearance:none;
}
.font-incr{
    height:2rem;
}